<?xml version="1.0"?>
<launch>

	<arg name="joy_dev" default="/dev/input/js0" />
	<arg name="joystick" default="true" />

	<rosparam command="load" file="$(find innok_heros_control)/config/teleop.yaml" />

	<group ns="joy_teleop">		   

		<node pkg="joy" type="joy_node" name="joy_node">
			<param name="dev" value="$(arg joy_dev)" />
		</node>   
    
		<node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
	</group>
	
	<group ns="keyboard_teleop">
    
		<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard"/>
	</group>

	<include file="$(find innok_heros_control)/launch/control.launch" />
</launch>

